<div class="produto-card" *ngIf="produtoSelecionado">
  <div class="produto-conteudo">
    <img [src]="'http://localhost:8080' + produtoSelecionado.imagem" alt="{{ produtoSelecionado.nome }}" width="200" height="150" />
    <div class="produto-detalhes">
      <h3>{{ produtoSelecionado.nome }}</h3>
      <p><strong>Marca:</strong> {{ produtoSelecionado.marca }}</p>
      <p><strong>Estilo:</strong> {{ produtoSelecionado.estiloDecoracao }}</p>
      <p><strong>Cor:</strong> {{ produtoSelecionado.corAmbiente }}</p>
      <p><strong>Instalação:</strong> {{ produtoSelecionado.localInstalacao }}</p>
      <p><strong>Prioridade:</strong> {{ produtoSelecionado.prioridade }}</p>
      <p><strong>Descrição:</strong> {{ produtoSelecionado.descQuantidade }}</p>
      <p><strong>Tipo:</strong> {{ produtoSelecionado.tipo }}</p>
      <p><strong>Preço:</strong> {{ produtoSelecionado.vlrUnit | currency:'BRL' }}</p>
    </div>
  </div>
  <button class="btn-comprar">Comprar</button>
</div>
