<div class="container mt-3">
  <h2>Produtos recomendados:</h2>

  <div *ngIf="produtos.length > 0; else semResultados">
    <div *ngFor="let produto of produtos" class="card mb-3">
      <div class="card-body">
        <img [src]="'http://localhost:8080' + produto.imagem" width="150" />
        <h5 class="card-title">{{ produto.nome }}</h5>
        <p class="card-text">Marca: {{ produto.marca }}</p>
        <p class="card-text">Preço: {{ produto.vlrUnit | currency:'BRL' }}</p>
      </div>
    </div>
  </div>

  <ng-template #semResultados>
    <p>Nenhum produto encontrado com os filtros selecionados.</p>
  </ng-template>
</div>
