<div class="container mt-3">
  <h2>Produtos recomendados:</h2>

  <div *ngIf="produtos.length > 0; else semResultados">
    <div *ngFor="let produto of produtos" class="card mb-3">
      <div class="card-body">
        <img [src]="produto.imagem" alt="{{ produto.nome }}" width="200" height="150" />
        <h5 class="card-title">{{ produto.nome }}</h5>
        <p><strong>Marca:</strong> {{ produto.marca }}</p>
        <p><strong>Estilo de decoração:</strong> {{ produto.estiloDecoracao }}</p>
        <p><strong>Cor do ambiente:</strong> {{ produto.corAmbiente }}</p>
        <p><strong>Local de Instalação:</strong> {{ produto.localInstalacao }}</p>
        <p><strong>Prioridade:</strong> {{ produto.prioridade }}</p>
        <p><strong>Descrição:</strong> {{ produto.descQuantidade }}</p>
        <p class="card-text"><strong>Preço:</strong> {{ produto.vlrUnit | currency:'BRL' }}</p>
      </div>
    </div>
  </div>

  <ng-template #semResultados>
    <p>Nenhum produto encontrado com os filtros selecionados.</p>
  </ng-template>
</div>
