<main id="mainContato" class="flex-fill d-flex justify-content-center align-items-center text-center p-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="formContato" class="w-100" style="max-width: 400px;">
    <div id="divNomeLinhaContato" class="form-group mb-3">
      <label id="labelContato">Contato</label>
      <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
    </div>
    <div id="divEmailLinhaContato" class="form-group mb-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Email">
    </div>
    <div  id="divMsgLinhaContato" class="form-group mb-3">
      <textarea class="form-control" formControlName="mensagem" placeholder="Mensagem"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</main>
