<header>
  <div class=" mx-auto" style="width: 200px; ">
    <img src="./src/assets/logo.jpg" alt="Logo da loja" style="width: 200px; height: auto;">
    <h1>Fortaleza Pisos e Revestimentos</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="topo">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#gabinetes">Gabinetes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#revestimentos">Pisos e Revestimentos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#argamassas">Argamassas e Rejuntes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#loucas">Louças</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#torneiras">Torneiras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#iluminacao">Iluminação</a>
              </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
  </nav>
</header>
