<header class="container-fluid py-3">
  <div class="w-100 px-3 mb-3 d-flex align-items-center justify-content-between">
    <img src="assets/image/logo.jpg" alt="Logo da loja" class="me-3">
    <form class="d-flex flex-grow-1 me-3">
      <div class="search-container w-100 position-relative">
        <input type="search" class="form-control search-input" placeholder="O que você procura hoje?">
        <button class="search-button" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"
            width="20" height="20">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </form>

    <div class="d-flex align-items-center gap-3">
      <a href="" class="text-dark" title="Carrinho">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>
      </a>
      <a href="login" class="text-dark" title="Login">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
        </svg>
      </a>
    </div>
  </div>

  <nav class="navbar" id="topo">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gabinetes">Gabinetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="revestimentos">Pisos e Revestimentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="argamassas">Argamassas e Rejuntes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="loucas">Louças</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="torneiras">Torneiras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="iluminacao">Iluminação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contato">Contato</a>
      </li>
    </ul>
  </nav>

</header>
