header.container-fluid.py-3 {
  background-color: #D9D9D9;
}
.nav-link{
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 8px 12px;
}
.navbar{
  margin-bottom: -20px;
  margin-top: -15px;
}

img{
  width: 279.56px;
  height: 74px;
  padding-right: 20px;
  margin-left: 0px;
}
.search-container {
  position: relative;
  width: 100%;
}

.form-control.search-input {
  width: 100%;
  padding-right: 40px;
  background-color: #D9D9D9;
  border: 1px solid black;
  border-radius: 10px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #6c757d;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

svg {
  width: 40px;
  height: 30px;
  fill: #000000;
}
svg.bi.bi-cart{
  align-items: right;
  margin-left: 50px;
}

.nav-link:hover {
  background-color: #5f6365;
  color: #f9fafc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

