<div class="container mt-3">
  <form (ngSubmit)="onSubmit()" #quizForm="ngForm" class="form-container">
    <h3>Não sabe qual produto escolher? Podemos te ajudar!</h3>
    <p>Compartilhe suas preferências e encontraremos a melhor opção para você!</p>

    <label>Qual estilo de decoração você prefere?</label>
    <select [(ngModel)]="filtro.estilo" name="estilo" class="custom-select mb-3" required>
      <option value="">Selecione...</option>
      <option value="Moderno">Moderno</option>
      <option value="Clássico">Clássico</option>
      <option value="Rústico">Rústico</option>
      <option value="Industrial">Industrial</option>
    </select>

    <label>Qual é a cor predominante no seu ambiente?</label>
    <select [(ngModel)]="filtro.cor" name="cor" class="custom-select mb-3" required>
      <option value="">Selecione...</option>
      <option value="Clara">Clara</option>
      <option value="Escura">Escura</option>
      <option value="Colorida">Colorida</option>
    </select>

    <label>Onde o piso/revestimento será aplicado?</label>
    <select [(ngModel)]="filtro.local" name="local" class="custom-select mb-3" required>
      <option value="">Selecione...</option>
      <option value="Sala">Sala</option>
      <option value="Cozinha">Cozinha</option>
      <option value="Banheiro">Banheiro</option>
      <option value="Área Externa">Área Externa</option>
    </select>

    <label>Qual é a sua prioridade?</label>
    <select [(ngModel)]="filtro.prioridade" name="prioridade" class="custom-select mb-3" required>
      <option value="">Selecione...</option>
      <option value="Facilidade de limpeza">Facilidade de limpeza</option>
      <option value="Resistência">Resistência</option>
      <option value="Conforto">Conforto</option>
      <option value="Estética">Estética</option>
    </select>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-success me-md-2" type="submit">Enviar</button>
    </div>
  </form>
</div>
