#mainCadastroUsuario {
  padding: 40px;
}

#formCadastroUsuario {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#labelCadastroUsuario{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0%;
  color: #000000;
}
